.flag{ width:0; height:0; vertical-align:middle; margin-left: 2px; display:inline-block; background-image: url('../gfx/csg-542d24235ea3e.png'); }

.flag-Afghanistan{ background-position: 0 0; width: 35px; height: 24px; }
.flag-Albania{ background-position: 0 -25px; width: 35px; height: 24px; }
.flag-Algeria{ background-position: 0 -50px; width: 35px; height: 24px; }
.flag-Andorra{ background-position: 0 -75px; width: 35px; height: 24px; }
.flag-Antigua-and-Barbuda{ background-position: 0 -100px; width: 35px; height: 24px; }
.flag-Argentina{ background-position: 0 -125px; width: 35px; height: 24px; }
.flag-Armenia{ background-position: 0 -150px; width: 35px; height: 24px; }
.flag-Australia{ background-position: 0 -175px; width: 35px; height: 24px; }
.flag-Austria{ background-position: 0 -200px; width: 35px; height: 24px; }
.flag-Azerbaijan{ background-position: 0 -225px; width: 35px; height: 24px; }
.flag-Bahamas{ background-position: 0 -250px; width: 35px; height: 24px; }
.flag-Bahrain{ background-position: 0 -275px; width: 35px; height: 24px; }
.flag-Bangladesh{ background-position: 0 -300px; width: 35px; height: 24px; }
.flag-Barbados{ background-position: 0 -325px; width: 35px; height: 24px; }
.flag-Belarus{ background-position: 0 -350px; width: 35px; height: 24px; }
.flag-Belgium{ background-position: 0 -375px; width: 35px; height: 24px; }
.flag-Belize{ background-position: 0 -400px; width: 35px; height: 24px; }
.flag-Benin{ background-position: 0 -425px; width: 35px; height: 24px; }
.flag-Bhutan{ background-position: 0 -450px; width: 35px; height: 24px; }
.flag-Bolivia{ background-position: 0 -475px; width: 35px; height: 24px; }
.flag-Bosnia-and-Herzegovina{ background-position: 0 -500px; width: 35px; height: 24px; }
.flag-Botswana{ background-position: 0 -525px; width: 35px; height: 24px; }
.flag-Brazil{ background-position: 0 -550px; width: 35px; height: 24px; }
.flag-Brunei{ background-position: 0 -575px; width: 35px; height: 24px; }
.flag-Bulgaria{ background-position: 0 -600px; width: 35px; height: 24px; }
.flag-Burkina-Faso{ background-position: 0 -625px; width: 35px; height: 24px; }
.flag-Burundi{ background-position: 0 -650px; width: 35px; height: 24px; }
.flag-Cambodia{ background-position: 0 -675px; width: 35px; height: 24px; }
.flag-Cameroon{ background-position: 0 -700px; width: 35px; height: 24px; }
.flag-Canada{ background-position: 0 -725px; width: 35px; height: 24px; }
.flag-Cape-Verde{ background-position: 0 -750px; width: 35px; height: 24px; }
.flag-Central-African-Republic{ background-position: 0 -775px; width: 35px; height: 24px; }
.flag-Chad{ background-position: 0 -800px; width: 35px; height: 24px; }
.flag-Chile{ background-position: 0 -825px; width: 35px; height: 24px; }
.flag-China{ background-position: 0 -850px; width: 35px; height: 24px; }
.flag-Colombia{ background-position: 0 -875px; width: 35px; height: 24px; }
.flag-Comoros{ background-position: 0 -900px; width: 35px; height: 24px; }
.flag-Congo-Democratic{ background-position: 0 -925px; width: 35px; height: 24px; }
.flag-Congo-Republic{ background-position: 0 -950px; width: 35px; height: 24px; }
.flag-Costa-Rica{ background-position: 0 -975px; width: 35px; height: 24px; }
.flag-Cote-dIvoire{ background-position: 0 -1000px; width: 35px; height: 24px; }
.flag-Croatia{ background-position: 0 -1025px; width: 35px; height: 24px; }
.flag-Cuba{ background-position: 0 -1050px; width: 35px; height: 24px; }
.flag-Cyprus{ background-position: 0 -1075px; width: 35px; height: 24px; }
.flag-Czech-Republic{ background-position: 0 -1100px; width: 35px; height: 24px; }
.flag-Denmark{ background-position: 0 -1125px; width: 35px; height: 24px; }
.flag-Djibouti{ background-position: 0 -1150px; width: 35px; height: 24px; }
.flag-Dominica{ background-position: 0 -1175px; width: 35px; height: 24px; }
.flag-Dominican-Republic{ background-position: 0 -1200px; width: 35px; height: 24px; }
.flag-East-Timor{ background-position: 0 -1225px; width: 35px; height: 24px; }
.flag-Ecuador{ background-position: 0 -1250px; width: 35px; height: 24px; }
.flag-Egypt{ background-position: 0 -1275px; width: 35px; height: 24px; }
.flag-El-Salvador{ background-position: 0 -1300px; width: 35px; height: 24px; }
.flag-Equatorial-Guinea{ background-position: 0 -1325px; width: 35px; height: 24px; }
.flag-Eritrea{ background-position: 0 -1350px; width: 35px; height: 24px; }
.flag-Estonia{ background-position: 0 -1375px; width: 35px; height: 24px; }
.flag-Ethiopia{ background-position: 0 -1400px; width: 35px; height: 24px; }
.flag-Fiji{ background-position: 0 -1425px; width: 35px; height: 24px; }
.flag-Finland{ background-position: 0 -1450px; width: 35px; height: 24px; }
.flag-France{ background-position: 0 -1475px; width: 35px; height: 24px; }
.flag-Gabon{ background-position: 0 -1500px; width: 35px; height: 24px; }
.flag-Gambia{ background-position: 0 -1525px; width: 35px; height: 24px; }
.flag-Georgia{ background-position: 0 -1550px; width: 35px; height: 24px; }
.flag-Germany{ background-position: 0 -1575px; width: 35px; height: 24px; }
.flag-Ghana{ background-position: 0 -1600px; width: 35px; height: 24px; }
.flag-Grecee{ background-position: 0 -1625px; width: 35px; height: 24px; }
.flag-Grenada{ background-position: 0 -1650px; width: 35px; height: 24px; }
.flag-Guatemala{ background-position: 0 -1675px; width: 35px; height: 24px; }
.flag-Guinea-Bissau{ background-position: 0 -1700px; width: 35px; height: 24px; }
.flag-Guinea{ background-position: 0 -1725px; width: 35px; height: 24px; }
.flag-Guyana{ background-position: 0 -1750px; width: 35px; height: 24px; }
.flag-Haiti{ background-position: 0 -1775px; width: 35px; height: 24px; }
.flag-Honduras{ background-position: 0 -1800px; width: 35px; height: 24px; }
.flag-Hungary{ background-position: 0 -1825px; width: 35px; height: 24px; }
.flag-Iceland{ background-position: 0 -1850px; width: 35px; height: 24px; }
.flag-India{ background-position: 0 -1875px; width: 35px; height: 24px; }
.flag-Indonesia{ background-position: 0 -1900px; width: 35px; height: 24px; }
.flag-Iran{ background-position: 0 -1925px; width: 35px; height: 24px; }
.flag-Iraq{ background-position: 0 -1950px; width: 35px; height: 24px; }
.flag-Ireland{ background-position: 0 -1975px; width: 35px; height: 24px; }
.flag-Israel{ background-position: -36px 0; width: 35px; height: 24px; }
.flag-Italy{ background-position: -36px -25px; width: 35px; height: 24px; }
.flag-Jamaica{ background-position: -36px -50px; width: 35px; height: 24px; }
.flag-Japan{ background-position: -36px -75px; width: 35px; height: 24px; }
.flag-Jordan{ background-position: -36px -100px; width: 35px; height: 24px; }
.flag-Kazakhstan{ background-position: -36px -125px; width: 35px; height: 24px; }
.flag-Kenya{ background-position: -36px -150px; width: 35px; height: 24px; }
.flag-Kiribati{ background-position: -36px -175px; width: 35px; height: 24px; }
.flag-Korea-North{ background-position: -36px -200px; width: 35px; height: 24px; }
.flag-Korea-South{ background-position: -36px -225px; width: 35px; height: 24px; }
.flag-Kosovo{ background-position: -36px -250px; width: 35px; height: 24px; }
.flag-Kuwait{ background-position: -36px -275px; width: 35px; height: 24px; }
.flag-Kyrgyzstan{ background-position: -36px -300px; width: 35px; height: 24px; }
.flag-Laos{ background-position: -36px -325px; width: 35px; height: 24px; }
.flag-Latvia{ background-position: -36px -350px; width: 35px; height: 24px; }
.flag-Lebanon{ background-position: -36px -375px; width: 35px; height: 24px; }
.flag-Lesotho{ background-position: -36px -400px; width: 35px; height: 24px; }
.flag-Liberia{ background-position: -36px -425px; width: 35px; height: 24px; }
.flag-Libya{ background-position: -36px -450px; width: 35px; height: 24px; }
.flag-Liechtenstein{ background-position: -36px -475px; width: 35px; height: 24px; }
.flag-Lithuania{ background-position: -36px -500px; width: 35px; height: 24px; }
.flag-Luxembourg{ background-position: -36px -525px; width: 35px; height: 24px; }
.flag-Macedonia{ background-position: -36px -550px; width: 35px; height: 24px; }
.flag-Madagascar{ background-position: -36px -575px; width: 35px; height: 24px; }
.flag-Malawi{ background-position: -36px -600px; width: 35px; height: 24px; }
.flag-Malaysia{ background-position: -36px -625px; width: 35px; height: 24px; }
.flag-Maldives{ background-position: -36px -650px; width: 35px; height: 24px; }
.flag-Mali{ background-position: -36px -675px; width: 35px; height: 24px; }
.flag-Malta{ background-position: -36px -700px; width: 35px; height: 24px; }
.flag-Marshall-Islands{ background-position: -36px -725px; width: 35px; height: 24px; }
.flag-Mauritania{ background-position: -36px -750px; width: 35px; height: 24px; }
.flag-Mauritius{ background-position: -36px -775px; width: 35px; height: 24px; }
.flag-Mexico{ background-position: -36px -800px; width: 35px; height: 24px; }
.flag-Micronesia-Federated{ background-position: -36px -825px; width: 35px; height: 24px; }
.flag-Moldova{ background-position: -36px -850px; width: 35px; height: 24px; }
.flag-Monaco{ background-position: -36px -875px; width: 35px; height: 24px; }
.flag-Mongolia{ background-position: -36px -900px; width: 35px; height: 24px; }
.flag-Montenegro{ background-position: -36px -925px; width: 35px; height: 24px; }
.flag-Morocco{ background-position: -36px -950px; width: 35px; height: 24px; }
.flag-Mozambique{ background-position: -36px -975px; width: 35px; height: 24px; }
.flag-Myanmar{ background-position: -36px -1000px; width: 35px; height: 24px; }
.flag-Namibia{ background-position: -36px -1025px; width: 35px; height: 24px; }
.flag-Nauru{ background-position: -36px -1050px; width: 35px; height: 24px; }
.flag-Nepal{ background-position: -36px -1075px; width: 35px; height: 24px; }
.flag-Netherlands{ background-position: -36px -1100px; width: 35px; height: 24px; }
.flag-New-Zealand{ background-position: -36px -1125px; width: 35px; height: 24px; }
.flag-Nicaragua{ background-position: -36px -1150px; width: 35px; height: 24px; }
.flag-Niger{ background-position: -36px -1175px; width: 35px; height: 24px; }
.flag-Nigeria{ background-position: -36px -1200px; width: 35px; height: 24px; }
.flag-Norway{ background-position: -36px -1225px; width: 35px; height: 24px; }
.flag-Oman{ background-position: -36px -1250px; width: 35px; height: 24px; }
.flag-Pakistan{ background-position: -36px -1275px; width: 35px; height: 24px; }
.flag-Palau{ background-position: -36px -1300px; width: 35px; height: 24px; }
.flag-Panama{ background-position: -36px -1325px; width: 35px; height: 24px; }
.flag-Papua-New-Guinea{ background-position: -36px -1350px; width: 35px; height: 24px; }
.flag-Paraguay{ background-position: -36px -1375px; width: 35px; height: 24px; }
.flag-Peru{ background-position: -36px -1400px; width: 35px; height: 24px; }
.flag-Philippines{ background-position: -36px -1425px; width: 35px; height: 24px; }
.flag-Poland{ background-position: -36px -1450px; width: 35px; height: 24px; }
.flag-Portugal{ background-position: -36px -1475px; width: 35px; height: 24px; }
.flag-Qatar{ background-position: -36px -1500px; width: 35px; height: 24px; }
.flag-Romania{ background-position: -36px -1525px; width: 35px; height: 24px; }
.flag-Russia{ background-position: -36px -1550px; width: 35px; height: 24px; }
.flag-Rwanda{ background-position: -36px -1575px; width: 35px; height: 24px; }
.flag-Saint-Kitts-and-Nevis{ background-position: -36px -1600px; width: 35px; height: 24px; }
.flag-Saint-Lucia{ background-position: -36px -1625px; width: 35px; height: 24px; }
.flag-Saint-Vincent-and-the-Grenadines{ background-position: -36px -1650px; width: 35px; height: 24px; }
.flag-Samoa{ background-position: -36px -1675px; width: 35px; height: 24px; }
.flag-San-Marino{ background-position: -36px -1700px; width: 35px; height: 24px; }
.flag-Sao-Tome-and-Principe{ background-position: -36px -1725px; width: 35px; height: 24px; }
.flag-Saudi-Arabia{ background-position: -36px -1750px; width: 35px; height: 24px; }
.flag-Senegal{ background-position: -36px -1775px; width: 35px; height: 24px; }
.flag-Serbia{ background-position: -36px -1800px; width: 35px; height: 24px; }
.flag-Seychelles{ background-position: -36px -1825px; width: 35px; height: 24px; }
.flag-Sierra-Leone{ background-position: -36px -1850px; width: 35px; height: 24px; }
.flag-Singapore{ background-position: -36px -1875px; width: 35px; height: 24px; }
.flag-Slovakia{ background-position: -36px -1900px; width: 35px; height: 24px; }
.flag-Slovenia{ background-position: -36px -1925px; width: 35px; height: 24px; }
.flag-Solomon-Islands{ background-position: -36px -1950px; width: 35px; height: 24px; }
.flag-Somalia{ background-position: -36px -1975px; width: 35px; height: 24px; }
.flag-South-Africa{ background-position: -72px 0; width: 35px; height: 24px; }
.flag-South-Sudan{ background-position: -72px -25px; width: 35px; height: 24px; }
.flag-Spain{ background-position: -72px -50px; width: 35px; height: 24px; }
.flag-Sri-Lanka{ background-position: -72px -75px; width: 35px; height: 24px; }
.flag-Sudan{ background-position: -72px -100px; width: 35px; height: 24px; }
.flag-Suriname{ background-position: -72px -125px; width: 35px; height: 24px; }
.flag-Swaziland{ background-position: -72px -150px; width: 35px; height: 24px; }
.flag-Sweden{ background-position: -72px -175px; width: 35px; height: 24px; }
.flag-Switzerland{ background-position: -72px -200px; width: 35px; height: 24px; }
.flag-Syria{ background-position: -72px -225px; width: 35px; height: 24px; }
.flag-Taiwan{ background-position: -72px -250px; width: 35px; height: 24px; }
.flag-Tajikistan{ background-position: -72px -275px; width: 35px; height: 24px; }
.flag-Tanzania{ background-position: -72px -300px; width: 35px; height: 24px; }
.flag-Thailand{ background-position: -72px -325px; width: 35px; height: 24px; }
.flag-Togo{ background-position: -72px -350px; width: 35px; height: 24px; }
.flag-Tonga{ background-position: -72px -375px; width: 35px; height: 24px; }
.flag-Trinidad-and-Tobago{ background-position: -72px -400px; width: 35px; height: 24px; }
.flag-Tunisia{ background-position: -72px -425px; width: 35px; height: 24px; }
.flag-Turkey{ background-position: -72px -450px; width: 35px; height: 24px; }
.flag-Turkmenistan{ background-position: -72px -475px; width: 35px; height: 24px; }
.flag-Tuvalu{ background-position: -72px -500px; width: 35px; height: 24px; }
.flag-Uganda{ background-position: -72px -525px; width: 35px; height: 24px; }
.flag-Ukraine{ background-position: -72px -550px; width: 35px; height: 24px; }
.flag-United-Arab-Emirates{ background-position: -72px -575px; width: 35px; height: 24px; }
.flag-United-Kingdom{ background-position: -72px -600px; width: 35px; height: 24px; }
.flag-United-States-of-America{ background-position: -72px -625px; width: 35px; height: 24px; }
.flag-Uruguay{ background-position: -72px -650px; width: 35px; height: 24px; }
.flag-Uzbekistan{ background-position: -72px -675px; width: 35px; height: 24px; }
.flag-Vanuatu{ background-position: -72px -700px; width: 35px; height: 24px; }
.flag-Vatican-City{ background-position: -72px -725px; width: 35px; height: 24px; }
.flag-Venezuela{ background-position: -72px -750px; width: 35px; height: 24px; }
.flag-Vietnam{ background-position: -72px -775px; width: 35px; height: 24px; }
.flag-Yemen{ background-position: -72px -800px; width: 35px; height: 24px; }
.flag-Zambia{ background-position: -72px -825px; width: 35px; height: 24px; }
.flag-Zimbabwe{ background-position: -72px -850px; width: 35px; height: 24px; }